
.hotel-list {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 1.8em;
    color: Black;
    margin: 0;
  }
  

  .button-group {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-btn {
    background-color: #5D768C;
    color: white;
  }
  
  .update-btn {
    background-color: black;
    color: white;
  }
  
  .delete-btn {
    background-color: black;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .hotel-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .hotel-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hotel-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .hotel-card h3 {
    color: #333;
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  .hotel-card p {
    color: #666;
    font-size: 0.95em;
    margin: 5px 0;
  }
  
  .hotel-list p {
    text-align: center;
    font-size: 1.2em;
    color: #888;
  }
.search-container{
    display: flex;
    gap: 3px;
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    font-size: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .search-bar {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
  }
  .search-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
  }  
  .card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .update-btn {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card-buttons .btn:hover {
    opacity: 0.8;
  }
  
  